---
import Header from '../components/Header.astro';

const blogTopic = 'Stardew Valley';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>

		<style>
			body {
				background: blue;	
			}
		</style>

	</head>
	<body>
		<Header />
		
		<h1>Astro</h1>
		<h2>{ blogTopic }</h2>

	</body>
</html>
